/*
Theme Name: O4M
Theme URI: http://auxquatresmiches.fr
Author: Matthieu Lopez Jover
Author URI: http://mlopezjo.fr
Description: Le thème du site http://auxquatresmiches.fr.
Version: 1.0
Tags: pain, baguette, boulangerie
*/

/*Test*/

.footer-basic{padding:40px 0;background-color:#fff;color:#4b4c4d}.footer-basic ul{padding:0;list-style:none;text-align:center;font-size:18px;line-height:1.6;margin-bottom:0}.footer-basic li{padding:0 10px}.footer-basic ul a{color:inherit;text-decoration:none;opacity:.8}.footer-basic ul a:hover{opacity:1}.footer-basic .social{text-align:center;padding-bottom:25px}.footer-basic .social>a{font-size:24px;width:40px;height:40px;line-height:40px;display:inline-block;text-align:center;border-radius:50%;border:1px solid #ccc;margin:0 8px;color:inherit;opacity:.75}.footer-basic .social>a:hover,.goCart{opacity:.9}.footer-basic .copyright{margin-top:15px;text-align:center;font-size:13px;color:#aaa;margin-bottom:0}@media (max-width:300px){.header h1{height:20vh;width:20vw;text-indent:-9999px}}.header h1{height:162px;width:214px;text-indent:-9999px}@media (min-width:992px){.header h1{height:170px;width:230px;text-indent:-9999px}}@media (min-width:1200px){.header h1{height:255px;width:340px;text-indent:-9999px}}.jo_img{height:25vh;width:auto}.map{width:100%;height:50vh}.btn_produits{width:90vw;margin:5px 0}@media (min-width:992px){.btn_produits{width:20vw;margin:5px}}.table td>*,.woocommerce-cart-form__cart-item.cart_item td *{margin:auto}.prix{color:#747373}@media (max-width:576px){.filtre{display:flex;flex-direction:column;justify-content:space-around}}@media (min-width:768px){.filtre{display:flex;flex-wrap:wrap;justify-content:space-around}.logo{display:none}}.liste-produits{justify-content:center}.goCart{background-color:#218838}.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail{width:100px;height:56px;overflow:hidden;display:block}.screen-reader-text{display:none}.qty{padding:.326em;width:3.706325903em;background-color:#f2f2f2;color:#43454b}.remove,.remove:hover{color:#fff}.table-responsive.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents{text-align:center}.table td>*{vertical-align:middle}@media (min-width:1200px){.art-cart{width:75%}}@media (min-width:992px){.liste-produits{justify-content:start}.art-cart{width:75%;margin:auto}table td{padding:2em}}@media (max-width:990px){.cart thead{display:none}table.shop_table_responsive tr td[data-title]::before{content:attr(data-title) ": ";font-weight:600;float:left}}@media (max-width :990px){table.shop_table_responsive tr td{display:block;text-align:right;clear:both}}table{width:100%}.remove{font-size:15px;background-color:#28a745;border-radius:50%;display:flex;width:20px;height:20px;flex-direction:column;justify-content:center;align-items:center}table.cart td.actions .coupon{padding-bottom:0;margin-bottom:0;border-bottom:none;display:inline-block;float:left}table.cart td.actions label{display:none}table.cart td.actions input{display:inline-block;width:auto;margin:0}.button{border:0 #eee;border-radius:0;background:#eee;cursor:pointer;padding:.6180469716em 1.41575em;text-decoration:none;font-weight:600;text-shadow:none;display:inline-block;-webkit-appearance:none;color:#333}.coupon .input-text{adding:.6180469716em;background-color:#f2f2f2;color:#43454b;border:0;-webkit-appearance:none;box-sizing:border-box;font-weight:400;box-shadow:inset 0 1px 1px rgba(0,0,0,.125);padding:10px 0}button[type=submit]{margin-left:20px}
.hiddening{display: none;}
@@media (min-width : 768px) {
  .logo {
    display: none;
  }
  .u-columns{width : 75%;}
  .u-columns *{width : 50%;}
}

.woocommerce-notices-wrapper,
.woocommerce-result-count,
.woocommerce-ordering,
h1.post-title,
.show-password-input,
.woocommerce-MyAccount-navigation-link--downloads{
  display: none;
}

.wc-proceed-to-checkout{
  display: flex;
  justify-content: flex-end;
}

.wc-proceed-to-checkout .checkout-button.button.alt.wc-forward,
.form-row.place-order .button.alt,
.form-row.place-order .button.alt:hover{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.woocommerce ul.order_details{
  justify-content: space-around!important;
}
.woocommerce a.remove{
  display: block;
  font-size: 1.5em;
  height: 1.2em;
  width: 1.3em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: white !important;
  text-decoration: none;
  font-weight: 700;
  border: 0;
}

.use-logo{
  text-transform: capitalize;
}
.woocommerce-MyAccount-content{text-align : center; margin-top: 5px;}
.form-group .order_comments{width : 75%;}
.prod-btn a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.prod-btn .added_to_cart.wc-forward{
  display: none;
}
